{% extends "bootstrap/base.html" %}


{% block navbar %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">

<div class="wrapper">

<!-- Sidebar Header  -->
<nav id="sidebar">
<div style="text-align: center;" class="sidebar-header">
    <a href="/">
    <img style="width:75px;height:75px;border: 5px solid #FFF"  src="{{ url_for('static', filename='lyre_logo.png') }}"></img>
    <h3>Project Lyre</h3>
    </a>
</div>

<!-- Sidebar -->

<ul class="list-unstyled components">
    <p>Make yo banana squish up</p>
    <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page 1</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="#">Yall</a>
            </li>
            <li>
                <a href="#">Subpage2</a>
            </li>
            <li>
                <a href="#">Beans</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Page 2</a>
    </li>
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subpage thingy</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="#">Page 1</a>
            </li>
            <li>
                <a href="#">Page 2</a>
            </li>
            <li>
                <a href="#">Page 3</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Yams</a>
    </li>
    <li>
        <a href="#">Hmmm</a>
    </li>
</ul>
</nav>
<!-- Page Content  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <i class="fas fa-align-justify"></i>
        </button>
    </div>
</nav>
<style>
.green-btn {
    background-color: #21D0B2;
    border-color: #2F455C;
}
.green-btn:hover {
    background-color: #2F455C;
}
</style>
{% endblock %}


{% block styles %}
{{ super() }}
<style>
.green-btn {
    color: #FFFF;
}
</style>
{% endblock %}
