{% extends "bootstrap/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">


<!-- Unity Scripts -->

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Project Banana</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='unity/TemplateData/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='unity/TemplateData/style.css') }}">
    <script src="{{ url_for('static', filename='unity/TemplateData/UnityProgress.js') }}"></script>
    <script src="{{ url_for('static', filename='unity/Build/UnityLoader.js') }}"></script>
    <script>
        var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('static', filename='unity/Build/Lyre-build.json') }}", {onProgress: UnityProgress});
    </script>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Project Lyre</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Make yo banana squish up</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page 1</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Yall</a>
                        </li>
                        <li>
                            <a href="#">Subpage2</a>
                        </li>
                        <li>
                            <a href="#">Beans</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subpage thingy</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Yams</a>
                </li>
                <li>
                    <a href="#">Hmmm</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </nav>
    <!-- BODY OF PAGE -->
    <!-- TODO: add base html file to extend -->
    <h2>Project Lyre (aka Project Banana)</h2>

    <div>
    <div class="webgl-content">
    <div id="unityContainer" style="width: 960px; height: 600px"></div>
    </div>
    </div>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
